body {
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  
  .img-fluid {
    max-width: 100%;
    margin-top: 0%;
  }
  
  .myLogo {
    height: 30px;
    width: 30px;
    background-size: cover;
  }
  
  .navbar {
    flex-wrap: nowrap;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .mybg:hover {
    background-color: #9be2f2;
    border: 1px solid #9be2f2;
    border-color: #9be2f2 !important;
  }
  .mybg {
    background-color: #0903a6;
  }
  .mybg2 {
    background-color: #3f46bf;
  }
  .navbar-toggler,
  .navbar-light {
    color: #0903a6 !important;
    border-color: #0903a6 !important;
    border: 1px solid #0903a6 !important;
  }
  .navbar-toggler:focus {
    box-shadow: #0903a6;
  }
  
  .btn {
    background-color: #0903a6;
    color: white;
    margin-top: 30px;
    padding: 20px 40px;
    border: 1px solid #0903a6 !important;
  }
  
  .btn:hover {
    background-color: #9be2f2;
    border: 1px solid #9be2f2;
    border-color: #9be2f2 !important;
  }
  
  .col .text {
    color: #0903a6;
    font-style: normal;
  }
  
  #text{
    color: #0903a6;
    font-size: 70px;
    text-align: center;
    padding: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 100px;
  }
  
  p{
    text-align: justify;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    margin: 20px;
  }
  
  img{
    size: 50px;
    margin-top:40px;
  }
  
  .ot{
  
    text-align: justify;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 20px;
  
  }
  
  h3{
  
    color: #0903a6;
    font-size: 30px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 40PX;
  }
  
  h2{
  
    color: #0903a6;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 70px;
    margin-top: 70px;
    font-size: 60px;
  }
  
  h4{
  
    color: #0903a6;
    font-size: 30px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 100px;
  }
  
  .container2{
  
    margin-top: 30px;
  }
  
  .foo{
  
    background-color:#fcf0e4;
  
  }
  
  .text-center .p-4{
  
    background-color:white;
  }
  
  .adop{
  
    color: #0903a6 !important;
    
  }
  
  .text-center .p-4{
  
    background-color:#0903a6 !important;
    color: white;
  
  }
  
  ul{
  
    text-align: justify;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 20px;
  }

  .row{

    text-align: center;
  }

  .col-md{

    padding: 80px;
  }